<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Happiness Site</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="css/styles.css?v=1.0">
    
</head>

<body>
    <body style="background-color:lightYellow;">
    </body>
    
    <h1> Hello! </h1>
        <br>
        <h2> Welcome to the Happiness Site    :) </h2>

    <br>
    <br>
    
    <li><FONT SIZE=4>Would you like to take our <strong>"Life assessment"</strong> and compare the result with the average of the population? <strong><a href=http://127.0.0.1:5000/lifeassessment>Go to the Life assessment!</a></strong></font></li>
    <br>
    <li><FONT SIZE=4>Would you like to <strong>predict your level of happiness</strong> in the future? <strong><a href=http://127.0.0.1:5000/future>Go to the Happiness predictor!</a></strong></FONT></li>
    
</body>
</html>